apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lesta-end.fullname" . }}
  labels:
    app: {{ include "lesta-end.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "lesta-end.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "lesta-end.name" . }}
    spec:
      containers:
        - name: lesta-end
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- range .Values.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
            {{- range .Values.secrets }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: {{ .secretName }}
                  key: {{ .secretKey }}
            {{- end }}
          ports:
            - containerPort: 5000
